<div ng-if="!policyDetailsLoaded">
    <preloader text-bundle-key="policyDetails.loadingMessage"></preloader>
</div>

<div class="rowDetailContent" ng-if="policyDetailsLoaded">
    <div class="col-xs-4 rowDetailSearchListContent">
        <search-list absent-data-msg="policyDetails.noSignaturesFound"
                signature-icon="empty"
                parent-object-id="{{::selectedRow.id}}" server-data-call="policySignaturesLoadMethod"
                search-placeholder="{{::'policyDetails.searchSignaturesLbl' | i18next}}"
                section-title="{{::'policyDetails.signaturesLbl' | i18next}}"></search-list>
    </div>

    <div class="col-xs-6 rowDetailSearchListContent sensors-list">
        <search-list-columnar absent-data-msg="policyDetails.noSensorsFound"
                              columns="sensorColumns"
                              parent-object-id="{{::selectedRow.id}}" server-data-call="policySensorsLoadMethod"
                              search-placeholder="{{::'policyDetails.searchSensorsLbl' | i18next}}"
                              section-title="{{::'policyDetails.sensorsLbl' | i18next}}"></search-list-columnar>
    </div>

    <div class="col-xs-2 rowDetailDescriptionBlock">
        <span class="search-list-title">{{::'policyDetails.descriptionLbl' | i18next}}</span>
        <hr>
        <div class="rowDetailDescriptionScroll" ng-scrollable>
            <div class="rowDetailDescriptionContent">
                <span class="selected-row-description">
                    {{::selectedRow.description}}
                </span>
            </div>
        </div>

    </div>
    <div class="hideDetails" ng-click="collapseDetails()">
        <span class="glyphicon glyphicon-chevron-up"></span>
        <span>{{::'policyDetails.hideDetailsLbl' | i18next}}</span>
    </div>
</div>