<!doctype html>
<html lang="en" ng-app="BPACApp">
<head>
    <meta charset="utf-8">
    <!--<meta name="viewport" content="user-scalable=yes, width=device-width, initial-scale=1.0"/>-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Loading...</title>
    <link rel="stylesheet" href="vendor/css/bootstrap.css">
    <link rel="stylesheet" href="vendor/css/ng-table.min.css">
    <link rel="stylesheet" href="vendor/css/ng-scrollable.min.css">
    <link rel="stylesheet" href="vendor/css/colorpicker.min.css">
    <link rel="stylesheet" href="css/opensans.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="modules/modules.css">
    <link rel="stylesheet" href="modules/core.css">
    <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
</head>

<body ng-controller="MainController">

<div ng-if="!userInfoLoaded || !configurationLoaded || !translationLoaded" class="userInfoPrealoder">
    <preloader text-bundle-key="Loading..."></preloader>
</div>

<div class="wrapper" ng-if="userInfoLoaded && configurationLoaded && translationLoaded">
    <header-bar></header-bar>

    <main-navigation></main-navigation>

    <inactive-sensors-system-notification></inactive-sensors-system-notification>

    <div class="main-view" ng-view>
    </div>

    <footer class="footer">
        <div class="container">
            <p class="copyright"> Bricata @VERSION@ -
                <a href="http://www.bricata.com" target="_blank">http://www.bricata.com</a>
                © 2015 </p>
        </div>
    </footer>

</div>


<script type="text/javascript" src="vendor/js/angular.min.js"></script>
<script type="text/javascript" src="vendor/js/ui-bootstrap-tpls.min.js"></script>
<script type="text/javascript" src="vendor/js/angular-resource.min.js"></script>
<script type="text/javascript" src="vendor/js/angular-route.min.js"></script>
<script type="text/javascript" src="vendor/js/angular-cookies.min.js"></script>
<script type="text/javascript" src="vendor/js/ng-table.min.js"></script>
<script type="text/javascript" src="vendor/js/i18next.min.js"></script>
<script type="text/javascript" src="vendor/js/ng-i18next.min.js"></script>
<script type="text/javascript" src="vendor/js/moment.min.js"></script>
<script type="text/javascript" src="vendor/js/angular-moment.min.js"></script>
<script type="text/javascript" src="vendor/js/ng-scrollable.min.js"></script>
<script type="text/javascript" src="vendor/js/bootstrap-colorpicker-module.min.js"></script>
<script type="text/javascript" src="modules/core.js"></script>
<script type="text/javascript" src="modules/coretemplates.js"></script>
<script type="text/javascript" src="modules/modules.js"></script>
<script type="text/javascript" src="modules/templates.js"></script>
<script type="text/javascript" src="js/main.js"></script>
</body>
</html>

