<form class="form-horizontal" novalidate>
<h4 class="modal-title apply-dlg-subtitle">{{::'applyPolicyModal.sensorsSubTitle' | i18next}}</h4>

<div class="form-group">
    <label class="col-xs-2 control-label input-label">{{::'applyPolicyModal.applyForOptionLbl' | i18next}}</label>
    <div class="col-xs-6">
        <label class="radio apply-for-option">
            <input type="radio" name="applyFor"
                   ng-model="model.applyForAll" ng-change="applyForOptionChange()"
                   data-ng-value="true">
            {{::'applyPolicyModal.applyForAll' | i18next}}
        </label>
        <label class="radio apply-for-option">
            <input type="radio" name="applyFor"
                   ng-model="model.applyForAll" ng-change="applyForOptionChange()"
                   data-ng-value="false" checked>
            {{::'applyPolicyModal.applyForCustom' | i18next}}
        </label>
    </div>
</div>

<div class="form-group" ng-if="!model.applyForAll">
    <div class="col-xs-12 apply-entities-selection">
        <div class="name-interface-rows name-interface-row-scroll" ng-scrollable="{scrollX:'none'}"
             ng-attr-tooltip="{{sensorSelectError}}"
             tooltip-placement="right"
             tooltip-append-to-body="true" tooltip-trigger="validationfailed">
            <div class=""
                 sensor-select-validation
                 rows-model="model.sensorInterfaces"
                 duplicated-flag="duplicateSensorFound"
                 top-lvl-err-msg-update="sensorsSelectErrorUpdated">

                <div class="policy-select-row" ng-repeat="row in model.sensorInterfaces track by $index">
                    <div class="col-xs-6 policy-select-content">
                        <div class="col-xs-4 field-lbl">
                            <span>{{::'applyPolicyModal.name' | i18next}}:</span>
                        </div>
                        <div class="col-xs-8 apply-policy-name-dropdown">
                            <common-select ng-model="row.sensor"
                                           ng-options="model.values.sensors"
                                           ng-change="loadInterfacesForSensor"
                                           parent-row="row" update-parent-row="clearSelectedInterface"
                                           ng-class="{'has-error': row.isEmpty || row.isDuplicated}"
                                           lbl-field="name"
                                           append-to-body="true"></common-select>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-xs-4 no-padding">
                        <div class="col-xs-4 field-lbl second-select-lbl">
                            <span>{{::'applyPolicyModal.interface' | i18next}}:</span>
                        </div>
                        <div class="col-xs-8 apply-policy-action-dropdown">
                            <common-select ng-model="row.interface"
                                           ng-options="row.sensor.interfaces"
                                           ng-change="handleInterfacesChange"
                                           ng-class="{'has-error': row.isEmpty || row.isDuplicated}"
                                           lbl-field="name"
                                           append-to-body="true"></common-select>
                        </div>
                    </div>

                    <div class="col-xs-1">
                        <button class="btn btn-default" ng-click="removeSensorRow($index)"
                                ng-class="{'policy-select-button-hidden': $index === 0 && model.sensorInterfaces.length === 1}">
                            <span class="glyphicon glyphicon-minus" aria-hidden="true" ></span>
                        </button>
                    </div>
                    <div class="col-xs-1">
                        <button class="btn btn-default"
                                ng-class="{'policy-select-button-hidden': $index !== model.sensorInterfaces.length - 1}"
                                ng-click="addSensorRow()" ng-disabled="row.name === '' || duplicateSensorFound">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>

            </div>
        </div>
    </div>
</div>
</form>