<div class="container" ng-controller="SignatureWizardController">

    <div class="policies-header">
        <div class="row">
            <div class="col-xs-12">
                <h3>{{labels.title | i18next}}</h3>
            </div>
        </div>
    </div>

    <div class="container-content" loading-container="isLoadingData">
        <div class="row">
            <div class="col-xs-9">
                <form class="form-horizontal" novalidate>

                    <rules-information></rules-information>

                    <signature-information></signature-information>

                    <meta-information></meta-information>

                    <div class="form-group">
                        <label class="col-md-2 control-label"></label>
                        <div class="col-md-4">
                            <label class="checkbox-inline">
                                <input type="checkbox"
                                       ng-model="addNewSignatureModel.previewSignaturesBeforeSavingCheckBox.checked">
                                {{::'createSignature.previewSignaturesCheckbox' | i18next}}
                            </label>
                        </div>
                    </div>

                    <hr>

                    <button type="button" class="btn btn-lg btn-default" ng-click="cancelWizard()">
                        {{::'generalElements.cancel' | i18next}}
                    </button>
                    <button class="btn btn-lg btn-primary" ng-click="createSignature()">
                        {{labels.submitBtnLbl | i18next}}
                    </button>

                </form>
            </div>
        </div>
    </div>


</div>


