# Bricata .gitignore

*.rbc
*.tmproj
*.swp
*.swo
*~
log/*
tmp/*
log/*

.idea/
.yardoc
.bundle/
.document
.DS_Store

doc
bin
pkg
rdoc
tmtags
coverage
tmp/pids/
tmp/cache/
example.rb
public/system/
public/javascripts/all.js
public/javascripts/bricata_packaged.js
public/stylesheets/bricata_packaged.css
vendor/bundle/
node_modules
Gruntfile.js
package.json

!tmp/.gitignore
!log/.gitignore

nbproject

# Ignore Config Files
#config/bricata_config.yml
#config/database.yml
#config/bricata.yml
#config/bricata-geoip.dat
bricata.war

# ENV variables
*.env*
