<div loading-container="isSendingDataInProgress">
    <div class="modal-header">
        <button type="button" class="close" ng-click="closeDeleteModal()"
                title="{{'common.closeTxt' | i18next}}">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
        <h4 class="modal-title">
            {{::isBulkMode ? msgs.bulkDeleteTitle : msgs.singleDeleteTitle | i18next}}
        </h4>
    </div>
    <div class="modal-body">

    <span ng-if="!isBulkMode" class="modal-title delete-policy-msg"
          ng-i18next="[html:i18next]({sprintf:['{{::entityItem.name}}']}){{::msgs.singleDeleteMsg}}">
    </span>

    <span ng-if="isBulkMode" class="modal-title"
          ng-i18next="[html:i18next]({sprintf:['{{::entityItems.length}}']}){{::msgs.bulkDeleteMsg}}">
    </span>

    </div>
    <div class="modal-footer">
        <button class="btn btn-default policyDeleteCancelBtn" ng-click="closeDeleteModal()">
            {{::'generalElements.cancel' | i18next}}
        </button>
        <button class="btn btn-primary" ng-click="deleteThisEntity()">
            {{::'generalElements.delete' | i18next}}
        </button>
    </div>
</div>