@font-face {
  font-family: 'OpenSansRegular';
  src: url('../vendor/fonts/opensansregular/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../vendor/fonts/opensansregular/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg'),
  url('../vendor/fonts/opensansregular/OpenSans-Regular-webfont.woff2') format('woff2'),
  url('../vendor/fonts/opensansregular/OpenSans-Regular-webfont.woff') format('woff'),
  url('../vendor/fonts/opensansregular/OpenSans-Regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}