<div class="modal-header">
    <button type="button" class="close" ng-click="cancelModal()"
            title="{{::'common.closeTxt' | i18next}}">
        <span class="glyphicon glyphicon-remove"></span>
    </button>
    <h4 class="modal-title">{{::'createPolicy.selectedSignaturesPreview' | i18next}}</h4>
</div>
<div class="modal-body" loading-container="isRulesLoading">
    <div ng-scrollable="{scrollX:'none'}" class="preview-signatures-scrollbar">
        <div class="well" ng-repeat="ruleObj in displayedRules track by ruleObj.id">
            <form class="form form-inline preview-header">
                <div class="form-group preview-header-item">
                    <span class="control-label input-label">
                        <strong>{{::'createPolicy.policyPreview.signatureName' | i18next}}</strong>
                    </span>
                    <span class="control-label truncated" label-trunc tooltip="" tooltip-append-to-body="true">
                        {{::ruleObj.name}}
                    </span>
                </div>
                <div class="form-group preview-header-item">
                    <span class="control-label input-label">
                        <strong>{{::'createPolicy.policyPreview.signatureCategory' | i18next}}</strong>
                    </span>
                    <span class="control-label truncated" label-trunc tooltip="" tooltip-append-to-body="true">
                        {{::ruleObj.category.name}}
                    </span>
                </div>
                <div class="form-group preview-header-item">
                    <span class="control-label input-label">
                        <strong>{{::'createPolicy.policyPreview.signatureSeverity' | i18next}}</strong>
                    </span>
                    <span class="control-label truncated" label-trunc tooltip="" tooltip-append-to-body="true">
                        {{::ruleObj.severity.name}}
                    </span>
                </div>
            </form>

            <span class="preview-rule-txt">
                {{::ruleObj.rule}}
            </span>
        </div>
    </div>

    <div ng-if="!isRulesLoading && pagination.totalItemsCount > pagination.perPage"
         class="row list-based-pagination">

        <form class="form form-inline pull-right pagination-controls" role="form">
            <div class="form-group pagination-info-block">
                <span ng-i18next="[i18next]({count:{{displayedRules.length}},sprintf:['{{pagination.totalItemsCount}}']})common.shownNumber">
                        &nbsp;</span>
            </div>
            <div class="form-group">
                <pagination total-items="pagination.totalItemsCount" ng-model="pagination.currentPage"
                            ng-change="pageChanged()"
                            max-size="pagination.maxSize"
                            items-per-page="pagination.perPage" class="pagination-sm btn-group btn-group-xs"
                            boundary-links="true" rotate="false"
                            direction-links="false" first-text="&laquo;"
                            last-text="&raquo;"></pagination>
            </div>
        </form>
    </div>
</div>


<div class="modal-footer">
    <button type="button" class="btn btn-default"
            ng-click="cancelModal()">{{::'generalElements.cancel' | i18next}}</button>
    <button class="btn btn-primary"
            ng-click="submitModal()">{{::submitLbl | i18next}}</button>
</div>