
.reference-select-row {
  padding: 10px 20px 10px 10px;
  background-color: #f5f5f5;

  .reference-select-content {
    padding: 0;
  }

  .field-lbl {
    padding: 8px 0 0 0;
  }

  .reference-button-hidden {
    visibility: hidden;
  }
}