@mixin Opacity($value) {
  filter: alpha(opacity=$value);
  -khtml-opacity: $value;
  -moz-opacity: $value;
  opacity: $value;
}

.name-interface-rows {
  padding: 0;
  margin: 0;
}
.name-interface-row-scroll {
  min-height: 40px;
  max-height: 220px;
}

.select-signatures-heading {
  margin: 30px 0 20px 0;
}

.policy-signatures-container {
  background-color: #f5f5f5;
  padding: 20px;
}

.rowDetailContent {
  padding: 20px;
  overflow: hidden;
  position: relative;

  .rowDetailSearchListContent {
    padding-bottom: 20px;
    .search-list-empty-result-container {
      strong {
        color: #fff;
        font-weight: normal;
      }
    }
  }
}
.selected-row-description {
  padding-bottom: 30px;
  word-wrap: break-word;
}
.rowDetailDescriptionBlock {
  padding-right: 0;

  .rowDetailDescriptionScroll {
    max-width: 323px;
    height: 180px;
  }

  .rowDetailDescriptionContent {
    padding-right: 10px;
  }

  hr {
    border-top: 1px solid #565C60;
  }

}
.hideDetails {
  position: absolute;
  right: 10px;
  bottom: 25px;
  cursor: pointer;
}

.sensor-select-row {
  padding: 10px 20px 10px 10px;

  .sensor-select-content {
    padding: 0;
  }

  .field-lbl {
    padding: 8px 0 0 0;
  }

  .second-select-lbl {
    padding: 8px 0 0 15px;
  }
}

.policy-select-row {
  padding: 10px 20px 10px 10px;
  background-color: #f5f5f5;

  .policy-select-content {
    padding: 0;
  }

  .field-lbl {
    padding: 8px 0 0 0;
  }

  .second-select-lbl {
    padding: 8px 0 0 15px;
  }

  .policy-select-button-hidden {
    visibility: hidden;
  }
}

.new-signature-modal-window {
  .modal-dialog {
    width: 760px;
  }
}

.control-label {
  text-align: left;
}
.preview-signatures-scrollbar {
  height: 300px;
}

.preview-header {
  border-bottom: 1px #e3e3e3 solid;
  margin-bottom: 10px;
}

.preview-header-item {
  width: 33.333% !important;

  .truncated {
    max-width: 190px;
  }
}

.preview-rule-txt {
  word-wrap: break-word;
}

.preview-bottom-spacer {
  padding-top: 20px;
}

.delete-policy-msg,
.delete-signature-msg {
  word-wrap: break-word;
}

.sensors-list {
  .search-list-scroll-bar {
    max-width: 500px;
  }

}