.signature-categories{
  .rowDetailContent{
    padding-left: 0;
  }
}

.signature-categories-details {
  max-width: 1100px;
  .rowDetailDescriptionScroll {
    max-width: 100%;
    max-height: 128px;
    min-height: 50px;
    height: auto;
    .scrollable-content {
      padding-right: 5px;
    }
    .selected-row-description {
      padding-bottom: 5px;
    }
  }
  .search-list-scroll-bar {
    max-width: 100%;
  }
  .signature-category-details-actions {
    margin-top: 20px;
    .search-list-title {
      display: inline-block;
      margin-right: 30px;
    }
    .btn-default {
      background-color: transparent;
      color: #fff;
      margin-left: 15px;
    }
  }
  .hideDetails {
    bottom: 10px;
    right: 16px;
  }
}

