<div class="system-notification container" ng-if="isNotificationShown">
    <div class="row">
        <div class="col-xs-12">
        <alert type="info" close="closeNotification()">

            <div class="notification-container">
                <p ng-i18next="[html:i18next]{{::msgTxt}}"></p>
                <div class="notification-btn">
                    <button class="btn btn-primary" ng-click="handleBtnClick()">
                        {{::btnLbl}}
                    </button>
                </div>
            </div>

        </alert>
        </div>
    </div>
</div>