<div ng-controller="CreateSignatureClassTypeController">

    <div class="container signature-class-types" loading-container="states.isSignatureClassTypeDataSendingInProgress">
        <div class="policies-header">
            <div class="row">
                <div class="col-xs-12">
                    <h3>{{::pageTitleI18N | i18next}}</h3>
                </div>
            </div>
        </div>

        <div class="container-content">

            <form class="form-horizontal" name="createSignatureClassTypeForm" novalidate ng-submit="submitSignatureClassType()">
                <div class="form-group">
                    <label class="col-xs-2 control-label input-label" for="signatureClassTypeName">
                        {{::'createSignatureClassType.createNewName' | i18next}}
                    </label>
                    <div class="col-xs-4 no-padding">
                        <input id="signatureClassTypeName" type="text" class="form-control"
                               ng-model="formData.data.name"
                               input-validation required ng-maxlength="255"
                               validation-event-name="signatureClassTypeNameValidation"
                               tooltip="" tooltip-placement="right" tooltip-trigger="validationfailed">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-2 control-label input-label" for="signatureClassTypeShortName">
                        {{::'createSignatureClassType.createNewShortName' | i18next}}
                    </label>
                    <div class="col-xs-4 no-padding">
                        <textarea id="signatureClassTypeShortName" class="form-control"
                                  ng-model="formData.data.short_name"
                                  input-validation required ng-minlength="4"
                                  validation-event-name="signatureClassTypeShortNameValidation"
                                  tooltip="" tooltip-placement="right" tooltip-trigger="validationfailed"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-2 control-label input-label" for="signatureClassTypePriority">
                        {{::'createSignatureClassType.createNewPriority' | i18next}}
                    </label>
                    <div class="col-xs-2 no-padding">
                        <input id="signatureClassTypePriority" class="form-control"
                               ng-model="formData.data.priority"
                               input-validation required ng-pattern="/^([1-9]|[1-9][0-9]|1([0-9][0-9])|2([0-4][0-9]|5[0-5]))$/"
                               validation-event-name="signatureClassTypePriorityValidation"
                               tooltip=""
                               custom-tooltip="{{::'validationErrors.signatureClassTypeRanges'  | i18next}}"
                               tooltip-placement="right" tooltip-trigger="validationfailed">
                    </div>
                    <span class="priority-range">
                        {{::'createSignatureClassType.createNewPriorityRange' | i18next}}
                    </span>
                </div>

                <hr>
                <button ng-click="cancelWizard()" type="button" class="btn btn-default btn-lg">
                    {{::'generalElements.cancel' | i18next}}
                </button>

                <input id="saveBtn" type="submit"
                       value="{{::btnTitleI18N | i18next}}" class="btn btn-primary btn-lg">

            </form>
        </div>
    </div>
</div>