<div class="col-md-12" ng-switch on="changedObject.action">
    <div ng-switch-when="delete" class="row rowMsgContent">
        <label ng-if="changedObject.data.length === 1">{{::deleteMsg | i18next}}</label>

        <label ng-if="changedObject.data.length > 1"
        ng-i18next="[html:i18next]({sprintf:['{{changedObject.data.length}}']}){{::deleteBulkMsg}}">
        </label>
    </div>

    <div ng-switch-when="create" class="row rowMsgContent">
        <label>{{::createMsg | i18next}}</label>
    </div>

    <div ng-switch-when="edit" class="row rowMsgContent">
        <label>{{::editMsg | i18next}}</label>
    </div>

    <div ng-switch-when="change" class="row rowMsgContent">
        <label>{{::changeMsg | i18next}}</label>
    </div>
</div>