<div id="footer" class='container'>
	<div id="footer-inside" class='round'>
    Bricata <%= Bricata::VERSION %> -
    <%= link_to 'http://www.bricata.com', 'http://www.bricata.com' , :target => "_BLANK"%>
    &copy; <%= Time.now.year %>
	</div>
</div>
