[Unit]
Description=Celery workers
After=bpac-first-boot.service

[Service]
User=cmc
Group=cmc
EnvironmentFile=/etc/sysconfig/celery
WorkingDirectory=/var/www/app
ExecStart=/usr/bin/celery beat --schedule /var/lib/celery/beat.db \
    -A $CELERY_APP \
    --pidfile=/var/run/celery/%n.pid \
    --logfile=/var/log/celery/%n%I.log \
    $CELERYBEAT_OPTS

[Install]
WantedBy=multi-user.target

