<div class="btn-group" dropdown dropdown-append-to-body is-open="opened"
     common-select-validation
     tooltip="" tooltip-placement="right" tooltip-trigger="validationfailed">

    <div class="input-group has-feedback select-ctrl" ng-click="open($event)">
        <label class="form-control btn select-ctrl-input truncated" role="button">
            {{isPlainTxt ? ngModel[lblField] : (ngModel[lblField] ? (ngModel[lblField] | i18next) : placeholder)}}
        </label>

        <span class="glyphicon glyphicon-triangle-bottom form-control-feedback select-ctrl-icon"></span>
    </div>

    <ul class="dropdown-menu select-ctrl-dropdown" role="menu" ng-style="innerStyle">
        <li class="disabled" ng-if="!ngOptions || ngOptions.length === 0"><a href>&nbsp;</a></li>

        <!--<li class="disabled" ng-if="placeholder"><a href>{{::placeholder}}</a></li>
        <li role="presentation" class="divider" ng-if="placeholder"></li>-->

        <li ng-class="{'disabled': option.is_active === false, 'active': option === ngModel}"
            ng-repeat="option in ngOptions">
            <a href ng-click="optionChanged(option)" label-trunc-postponed class="truncated" tooltip=""
               tooltip-append-to-body="true" is-displayed="opened">
                {{::isPlainTxt ? option[lblField] : (option[lblField] | i18next)}}
            </a>
        </li>
    </ul>
</div>