Source: bpac-ids-pull-rules
Maintainer: Roman Pavlyuk <rpavlyuk@softserveinc.com>
Section: misc
Priority: optional
X-Python-Version: >= 2.7

Package: bpac-ids-pull-rules
Architecture: all
Depends: bash
Description: Package installs the script which applies rules to suricata
Homepage: http://www.bricata.com/
