
<div>

    <h4 class="modal-title apply-dlg-subtitle" ng-if="isDifferencesPresent">
        {{::'applyPolicyModal.conflictsAndDiffTitle' | i18next}}
    </h4>

    <div ng-if="isDifferencesPresent" class="apply-diff-scrollbar" ng-scrollable>

        <div ng-repeat="sensorInterface in model.differences track by sensorInterface.interface.id">
            <div class="apply-diff-sensor">
                <span class="control-label input-label">
                    {{::'applyPolicyModal.sensorShort' | i18next}}
                </span>
                <span>
                    <strong>{{::sensorInterface.sensor.name}}</strong> : <strong>{{::sensorInterface.interface.name}}</strong>
                </span>
            </div>

            <div class="well">
                <form ng-repeat="policyObj in sensorInterface.diff track by $index"
                      class="form form-inline apply-diff-item-full"
                      ng-class="{'deselected': !policyObj.isIncluded}">
                    <div class="form-group apply-diff-item">
                        <label>
                            <input type="checkbox" ng-model="policyObj.isIncluded">
                        </label>
                    </div>
                    <div class="form-group apply-diff-item">
                    <span class="control-label input-label">
                        {{::'applyPolicyModal.policyName' | i18next}}
                    </span>
                    <span class="control-label truncated policy-name" label-trunc
                          tooltip="" tooltip-append-to-body="true">
                        {{::policyObj.policy.name}}
                    </span>
                    </div>
                    <div class="form-group apply-diff-item">
                    <span class="control-label input-label">
                        {{::'applyPolicyModal.action' | i18next}}
                    </span>
                        <label class="control-label">
                            <common-select ng-model="policyObj.action"
                                           ng-options="model.values.actions"
                                           lbl-field="i18nLabel" append-to-body="true"></common-select>
                        </label>
                    </div>
                    <div ng-if="policyObj.isConflicting" class="form-group conflicts-info">
                    <span class="glyphicon glyphicon-exclamation-sign"
                          tooltip="{{::'applyPolicyModal.conflictingPoliciesTitle' | i18next}}"
                          tooltip-append-to-body="true">
                    </span>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <div class="apply-diff-info" ng-if="!isDifferencesPresent">
        <span>
            <span class="glyphicon glyphicon-ok-sign"></span>
            <span ng-i18next="[html]{{'applyPolicyModal.noConflictAndDifferenceFound'}}"></span>
        </span>
    </div>
</div>
