@mixin Opacity($value) {
  filter: alpha(opacity=$value);
  -khtml-opacity: $value;
  -moz-opacity: $value;
  opacity: $value;
}

.system-notification {
  //max-width: 300px;
  //position: fixed;
  //right: 20px;
  //bottom: 20px;
  //z-index: 1100;
 // @include Opacity(0.95);
 // position: relative;
}

.notification-btn {
  position: absolute;
  top: 8%;
  right: 20px;

}

.notification-container {
  position: relative;

  p {
    position: relative;
    margin: 0;
    padding-right: 200px;
  }
}