body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  /* background: #fff; */
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.static-square {
  border: 1px solid #999;
  float: left;
  font-size: 12px;
  height: 17px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 17px;
}

.history-button {
    padding: 6px;
    border-radius: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

/* .board {
  margin-top: 10px;
  margin-bottom: 10px;
} */

.game {
  /* display: flex;
  flex-direction: row; */
}

.game-info {
  margin-left: 20px;
}

ol.history {
  display: block;
}
