
<div class="clearfix"></div>
<div class="search-list-search-container">
    <div class="col-no-padding col-xs-4">
        <div>
            <div class="search-list-title-container">
                <span class="search-list-title">{{::sectionTitle}}</span>
            </div>
        </div>
    </div>
    <div class="col-no-padding col-xs-8">
        <div class="form-group has-feedback has-feedback-left col-no-padding">
            <input ng-model="searchedItem.name" ng-model-options="{debounce: 300}" ng-change="filterChangeHandler()"
                   placeholder="{{::searchPlaceholder}}" type="text" class="form-control">
            <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="search-list-scroll-bar" ng-scrollable loading-container="isDataLoading">
    <ul class="list-group">

        <div ng-show="noFilteredData">
            <div class="search-list-empty-result-container">
                <strong>
                    <span ng-click="clearSearchValue()">
                        <span class="glyphicon glyphicon-remove"></span> {{::'createPolicy.noResultsFound' | i18next}}
                    </span>
                </strong>
            </div>
        </div>

        <div ng-show="noDataLoaded">
            <div class="search-list-empty-result-container">
                <strong>
                    <span>{{::absentDataMsg | i18next}}</span>
                </strong>
            </div>
        </div>

        <div ng-repeat="entity in displayedItems track by entity.id">
            <li class="list-group-item search-list-item">
                <label ng-repeat="column in ::columns" ng-switch on="column.type" ng-style="column.style">
                    <span ng-switch-default label-trunc class="truncated" tooltip=""
                          tooltip-append-to-body="true">{{::entity[column.field]}}</span>
                </label>
            </li>
        </div>
    </ul>
</div>

<div ng-if="pagination.totalItemsCount > pagination.perPage" class="list-based-pagination">
    <pagination total-items="pagination.totalItemsCount" ng-model="pagination.currentPage"
                ng-change="pageChanged()"
                max-size="pagination.maxSize"
                items-per-page="pagination.perPage" class="pagination-sm btn-group btn-group-xs"
                boundary-links="true" rotate="false"
                direction-links="false" first-text="&laquo;"
                last-text="&raquo;"></pagination>
</div>