Source: bpac-ids-cmcadmin-profile
Maintainer: Roman Pavlyuk <rpavlyuk@softserveinc.com>
Section: misc
Priority: optional

Package: bpac-ids-cmcadmin-profile
Architecture: all
Depends: bash
Description: Package installs 'cmcadmin' user profile
Homepage: http://www.bricata.com/
