.alert-msg-modal-window {
  .modal-dialog {
    width: 380px;
  }
}

.alert-txt {
  font-weight: bold;
  font-size: 14px;

  .glyphicon {
    top: 3px;
    font-size: 18px;
    color: #e74e5a;
  }
}

.alert-detail {
  margin: 10px 0 0 22px;
}