<div class="input-group" color-picker-validation
     tooltip="" tooltip-placement="right" tooltip-trigger="validationfailed">
    <input ng-model="selectedColor"
           type="text" class="form-control color-txt-input">
    <div class="input-group-addon select-color-container">
        <div class="color-rect">
            <input colorpicker="hex" ng-model="selectedColor" class="color-picker-input"
                   colorpicker-fixed-position="true">
        </div>
    </div>
</div>