Source: bpac-ids-ifnet-info
Maintainer: Roman Pavlyuk <rpavlyuk@softserveinc.com>
Section: misc
Priority: optional
X-Python-Version: >= 2.7

Package: bpac-ids-ifnet-info
Architecture: all
Depends: python-netifaces
Description: Package installs the script which lists networks interfaces info in JSON format
Homepage: http://www.bricata.com/
