<div ng-controller="CreateSignatureCategoryController">

    <div class="container" loading-container="states.isSignatureCategoryDataSendingInProgress">
        <div class="policies-header">
            <div class="row">
                <div class="col-xs-12">
                    <h3>{{::pageTitleI18N | i18next}}</h3>
                </div>
            </div>
        </div>

        <div class="container-content">

            <form class="form-horizontal" name="createSignatureCategoryForm" novalidate ng-submit="submitSignatureCategory()">
                <div class="form-group">
                    <label class="col-xs-2 control-label input-label" for="signatureCategoryName">
                        {{::'createSignatureCategory.createNewSignatureCategoryName' | i18next}}
                    </label>
                    <div class="col-xs-4 no-padding">
                        <input id="signatureCategoryName" type="text" class="form-control"
                               ng-model="formData.data.name"
                               input-validation required ng-maxlength="255"
                               validation-event-name="signatureCategoryNameValidation"
                               tooltip="" tooltip-placement="right" tooltip-trigger="validationfailed">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-2 control-label input-label" for="signatureCategoryDescription">
                        {{::'createSignatureCategory.createNewSignatureCategoryDescription' | i18next}}
                    </label>
                    <div class="col-xs-4 no-padding">
                        <textarea id="signatureCategoryDescription" class="form-control"
                                  ng-model="formData.data.description"
                                  input-validation required ng-minlength="4"
                                  validation-event-name="signatureCategoryDescriptionValidation"
                                  tooltip="" tooltip-placement="right" tooltip-trigger="validationfailed"></textarea>
                    </div>
                </div>

                <hr>
                <button ng-click="cancelWizard()" type="button" class="btn btn-default btn-lg">
                    {{::'generalElements.cancel' | i18next}}
                </button>

                <input id="saveBtn" type="submit"
                       value="{{::btnTitleI18N | i18next}}" class="btn btn-primary btn-lg">

            </form>
        </div>
    </div>
</div>


