@mixin Opacity($value) {
  filter: alpha(opacity=$value);
  -khtml-opacity: $value;
  -moz-opacity: $value;
  opacity: $value;
}

.apply-policy-modal-window {
  .modal-dialog {
    width: 740px;
  }
}

.apply-policy-dropdown {
  .select-ctrl {
    width: 270px;
    max-width: 270px;
  }
}

.apply-policy-sensor-dropdown {
  padding-left: 0;
  .select-ctrl {
    width: 200px;
    max-width: 200px;
  }
}

.apply-policy-interface-dropdown {
  .select-ctrl {
    width: 212px;
    max-width: 212px;
  }
}

.apply-policy-name-dropdown {
  padding-left: 0;
  .select-ctrl {
    width: 200px;
    max-width: 200px;
  }
}

.apply-policy-action-dropdown {
  padding: 0 0 0 22px;
  .select-ctrl {
    width: 100px;
    max-width: 100px;
  }
}

.apply-dlg-subtitle {
  margin-bottom: 15px;
}

.apply-for-option {
  font-weight: normal;
}

.apply-entities-selection {
  .name-interface-rows, .name-interface-rows {
    width: 650px;
  }
}

.conflicts-info {
  margin-bottom: 15px;

  .col-xs-12 {
    margin-top: 10px;
  }

  .conflict-msg-sign {
    text-align: left;
    width: 50px;
  }

  .conflict-msg-txt {
    text-align: left;
    padding-left: 0;
  }

  .glyphicon {
    color: #ffae00;
    font-size: 20px;
    top: 6px;
  }

  label {
    font-weight: normal;
  }
}

.conflicts-scroll {
  min-height: 30px;
  max-height: 120px;
}

.apply-diff-scrollbar {
  min-height: 100px;
  max-height: 300px;
  padding-right: 5px;

  .apply-diff-item {
    display: inline;

    .truncated {
      max-width: 250px;

      &.policy-name {
        font-weight: bold;
      }
    }

    label {
      display: inline-block;

      input {
        top: 3px;
        position: relative;
      }

      .select-ctrl {
        top: -3px;
        position: relative;
      }
    }
  }
}

.apply-diff-item-full{
  line-height: 35px;

  &.deselected {
    @include Opacity(0.7);
  }
}

.apply-diff-sensor {
  margin: 10px 0 5px 0;
}

.apply-diff-info {
  width: 100%;
  padding: 15px 0;
  text-align: center;

  .glyphicon {
    font-size: 20px;
    top: 5px;
    color: #67a800;
  }
}
