@mixin Opacity($value) {
  filter: alpha(opacity=$value);
  -khtml-opacity: $value;
  -moz-opacity: $value;
  opacity: $value;
}

.grid-top-header {
  margin-bottom: 25px;
  h3 {
    margin: 0;
    padding: 0;
    span {
      color: #aeaeae;
    }
  }
}

.grid-top-header-nav {
  .grid-top-nav-link {
    line-height: 1.3em;
    vertical-align: middle;
    display: inline-block;
    margin-left: 30px;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      .glyphicon {
        @include Opacity(1);
      }
    }

    &:focus {
      border: none;
      outline: none;
    }
    
    .glyphicon {
      margin-right: 2px;
      padding: 0;
      font-size: 1.3em;
      vertical-align: middle;
      @include Opacity(0.45);
    }
    .button-label {
      vertical-align: middle;
      line-height: 1.1em;
      display: inline-block;
    }
  }
}

.common-grid-container {
  padding: 20px 30px 30px 30px;
  background-color: #fff;

  .table > tbody > tr > td{
    vertical-align: middle;
    span{
      vertical-align: middle;
    }
  }

  .grid-footer {
    margin: 20px 0 0 0;

    .pagination {
      margin: 0 0 0 20px;
    }

    .labelWithSpacing {
      margin: 0 5px;
    }
  }

  .column-head {
    text-align: left;

    div {
      display: inline-flex;
    }
  }

  .gridLabel{
    span{
      border-radius: 2px;
      padding: 2px 5px;
      color: #fff;
    }
  }

  tr {
    &.active {
      color: #fff;

      .gridActions {
        .rowAction {
          @include Opacity(1);
        }
      }
    }

    &.changed {
      background-color: #E0F0D9;
      > th,
      > td {
        border-top: 0;
      }
    }

    .gridActions {
      .rowAction {
        margin: 0 5px;
        cursor: auto;
        @include Opacity(0.5);
        &:hover {
          cursor: pointer;
          @include Opacity(1);
          color: #4277C4;
        }
      }
    }

    &:hover {
      .gridActions {
        .rowAction {
          @include Opacity(1);
        }
      }
    }
  }

  .table {
    > tbody + tbody {
      border-top: 0;
    }
  }

  .detailsViewContainer {
    cursor: default;
    background-color: #30383C;
    color: #fff;
    &:hover {
      cursor: default;
      background-color: #30383C;
      color: #fff;
    }
    > th,
    > td {
      border-top: 0;
    }
  }
}
.common-filter {
  .clearfix {
    border-bottom: 1px #eeeeee solid;
  }

  .filters-controls {
    .form-group {
      margin-right: 6px;
      .control-label {
        color: #999999;
      }

      select {
        max-width: 125px;
      }
    }
  }

  .clearFilterBtn {
    &.active {
      cursor: pointer;
      @include Opacity(1);
    }
    &.disabled {
      cursor: auto;
      @include Opacity(0.25);
    }
  }

  .filterRightSide {
    padding-right: 0;
    .clearFilterContainer {
      margin: 0;
    }
  }

}

.pagination-controls {
  .select-ctrl {
    width: 70px;
    max-width: 70px;
  }
}

.ng-table {
  .checkColumn {
    width: 30px;
  }
}

.date-picker {
  width: 120px;
  padding: 0;
  margin: 0;
  position: relative;
  .dropdown-menu {
    left: auto !important;
    right: 0;

    td {
      button {
        width: 36px !important;
      }
    }
  }

  .date-picker-input {
    background-color: #fff;
    border: 1px solid #ccc;
    padding-right: 20px;
  }

  .date-picker-icon {
    font-size: 10px;
  }

  .form-control-feedback {
    width: 20px;
  }
}

.filter-ctrl {
  padding-bottom: 10px;
}

.form-inline {
  .control-label {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.ng-table {
  th {
    &.sortable {
      &.sort-desc {
        background-color: lighten(#4277C4, 40%);
      }

      &.sort-asc {
        background-color: lighten(#4277C4, 40%);
      }
    }
  }
}

.stateChangeMsgRow {
  background-color: #E0F0D9;
  cursor: default;
}

.signatures-reload-content,
.policies-reload-content {
  text-align: center;
}

table {
  &:focus {
    border: none;
    outline: none;
  }
}

.table-hover {
  > tbody > tr.non-clickable {
    &:hover {
      cursor: default;
      background: none;
      color: #333333;
    }
  }
}

.rowMsgContent {
  text-align: center;

  label {
    color: #568F57;
    margin: 0;
  }

  strong {
    vertical-align: middle;
  }

  .btn-default {
    color: #568F57;
    background-color: #E0F0D9;
    border-color: #568F57;
    font-weight: bold;
  }
}
