<%= title "Listing Events <i>(#{number_with_delimiter(@events.pager.total)} unclassified events)</i>".html_safe, 'Listing Events' do -%>
  
  <%= render :partial => 'events/menu' %>
  


    <%= menu_item "<span class='glyphicon glyphicon glyphicon-align-left' aria-hidden='true'></span> Unique Unclassified Sessions".html_safe, sessions_events_path, nil, {} %>


<%- end -%>

<%= render :partial => 'events/events' %>
