<header>
    <div class="container">
        <a ng-href="{{::BricataUris.logoLink}}" class="logo pull-left">
            <img src="assets/images/logo.png" alt="Bricata">
        </a>
        <nav class="pull-right">
            <ul>
                <li>
                    <a ng-href="{{::BricataUris.settingsPageLink}}">
                        <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                        {{::'topNavSettings' | i18next}}
                    </a>
                </li>
                <li>
                    <a ng-href="{{::BricataUris.logoutPageLink}}">
                        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                        {{::'topNavLogout' | i18next}}
                    </a>
                </li>
            </ul>
        </nav>
        <div class="welcome-user pull-right">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            <span ng-i18next="[i18next]({sprintf:['{{userData.name}}']})topNavWelcome"></span>
        </div>
    </div>
    <!-- end div.container -->
</header>