[Unit]
Description=Initialize git repository once
After=systemd-tmpfiles-setup.service
Before=httpd.service
ConditionPathExists=!/var/www/git/rules.git/description
DefaultDependencies=no
Conflicts=shutdown.target

[Service]
EnvironmentFile=-/etc/sysconfig/bpac-rules-git
Environment=HOME=/home/cmc
User=cmc
Group=cmc
ExecStart=/usr/bin/bpac-initialize-git-repo.sh
Type=oneshot

[Install]
WantedBy=multi-user.target
