
[Unit]
Description=Bricata workers
After=sendmail.service bpac-first-boot.service

[Service]
Type=forking
User=apache
Group=apache
EnvironmentFile=/etc/sysconfig/bpac-bricata-workers
WorkingDirectory=/var/www/bricata/
ExecStartPre=/bin/sh -c 'sleep 5'
ExecStart=/usr/bin/ruby /var/www/bricata/script/delayed_job start
ExecStop=/usr/bin/ruby /var/www/bricata/script/delayed_job stop
RestartSec=10s
Restart=on-failure

[Install]
WantedBy=multi-user.target
