<% if @sensor_metrics.empty? %>
    <div id='events-graph' class='dashboard-graph no-pie-data'>
      <span>Event Count<br>vs<br>Time By Sensor</span>
    </div>
<% else %>
<% content_for :footer do %>
	<script type="text/javascript">
		    chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'events-graph',
                    height: 300,
                    width: 815,
                    marginLeft: 250,
                    marginTop: 20
                },
                credits: {
                    enabled: false
                },
                title: {
                    text: '<b>Event Count</b><br><b>vs</b><br><b>Time By Sensor</b>',
                    align: 'center',
                    y: 75,
                    x: -320
                },
                xAxis: {
                    categories: [<%= @axis.try(:html_safe) %>],
                    title: {
                        enabled: false
                    }
                },
                yAxis: {
                    title: {
                        enabled: false
                    },
                    min: 0,
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]
                },
                tooltip: {
                    formatter: function () {
                        return '<b>' + this.series.name + '</b><br/>' + this.y + ' Events';
                    }
                },
                legend: {
                    floating: true,
                    layout: 'vertical',
                    align: 'center',
                    x: -320,
                    y: -70,
                    borderWidth: 0,
                    borderRadius: 0,
                    borderColor: '#ddd',
                    backgroundColor: '#fff'
                },
                series: <%= @sensor_metrics.to_json.html_safe %>
            });
	</script>

<% end %>
    <div id='events-graph' class='dashboard-graph'></div>
<% end %>