<% if @high.join(', ').empty? && @medium.join(', ').empty? && @low.join(', ').empty? %>
	<div id='severity-graph' class='dashboard-graph no-pie-data' style="display: none;">
	  <span>Severity Count<br>vs<br>Time</span>
	</div>
<% else %>
<% content_for :footer do %>
	<script type="text/javascript">
		chart = new Highcharts.Chart({
			chart: {
				renderTo: 'severity-graph',
				height: 300,
				width: 815,
				marginLeft: 250,
				marginTop: 20
			},
			credits: {
				enabled: false
			},
			title: {
				text: '<b>Severity Count</b><br><b>vs</b><br><b>Time</b>',
				align: 'center',
				y: 75,
				x: -320
			},
			xAxis: {
				categories: [ <%= @axis.try (:html_safe) %> ],
				title: {
					margin: 10,
					<% if (@range == 'year' || @range == 'quarter') %>
						text: 'Month of Year',
					<% elsif(@range == 'month' || @range == 'last_month') %>
						text: 'Date of Month',
					<% elsif(@range == 'week' || @range == 'last_week') %>
						text: 'Date Of Week',
					<% elsif@range == 'last_24' %>
						text: 'Last 24 Hours',
					<% else %>
						text: 'Hour of Day'
					<% end %>
				}
			},
			yAxis: {
				title: {
					enabled: false
				},
				min: 0,
				plotLines: [{
					value: 0,
					width: 1,
					color: '#808080'
				}]
			},
			tooltip: {
				formatter: function () {
					return '<b>' + this.series.name + '</b><br/>' + this.y + ' Events';
				}
			},
			legend: {
				floating: true,
				layout: 'vertical',
				align: 'center',
				x: -320,
				y: -70,
				borderWidth: 0,
				borderRadius: 0,
				borderColor: '#ddd',
				backgroundColor: '#fff'
			},
			series: [{
				name: 'High Severity',
				color: sev1_bg_color,
				data: [ <%= @high.join(', ') %> ]
			}, {
				name: 'Medium Severity',
				color: sev2_bg_color,
				data: [ <%= @medium.join(', ') %> ]
			}, {
				name: 'Low Severity',
				color: sev3_bg_color,
				data: [ <%= @low.join(', ') %> ]
			}]
		});


	</script>

<% end %>
	<div id='severity-graph' class='dashboard-graph' style="display: none;"></div>
<% end %>